<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chamber.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chamber.description %>
</p>

	<%= render 'debates/debate_table_list' %>

<br>

<%= link_to 'Submit a New Debate', new_debate_path %>


