<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chamber.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chamber.description %>
</p>

<%= link_to 'Edit', edit_chamber_path(@chamber) %> |
<%= link_to 'Back', chambers_path %>
