<div class="row debate">
  <div class="small-12 columns">
    <ul class="debate-grid-spacing small-block-grid-2 large-block-grid-2">
      <li class="score-grid">
        <div class="vote upvote"><a href=#><i class="fa fa-arrow-up fa-2x"></i></a></div>
        <div class="debate-score">??</div>
        <div class="vote downvote"><a href=#><i class="fa fa-arrow-down fa-2x"></i></a></div>
      </li>
      <li class="debate-description">
        <h5 class="content-title"><%= link_to "#{debate.title}", debate_path(debate) %></h5>
        <p class="author">Submitted by 
          <span class="author-name"><strong><%= link_to "#{debate.user.name}", user_path(debate.user_id) %></strong></span>
          <span class="chamber-name">to <strong><%= link_to "#{debate.chamber.name}", chamber_path(debate.chamber) %></strong></span>
        </p>
        <div class="debate-stats">
          <ul class="inline-list">
            <li></li>
            <li><a href=#>replies(#)</a></li>
            <% if current_user == debate.user %>
              <li><%= link_to "edit", edit_debate_path(debate) %></li>
              <li><%= link_to "delete", debate_path(debate), method: :delete, data: { confirm: "You sure?" } %></li>
            <% end %>
          </ul>
        </div>
      </li>
    </ul>    
  </div>
  <hr>
</div>