				<small>
		      <ul class="button-group argument_post_links" >
		      	<li><%= link_to "Contribution", 
							      	new_argument_post_path(debate_id: argument_post.debate_id, 
							    	  	position: argument_post.position, 
							      		type: "ContributionPost",
							      		parent_id: argument_post.id), class: "tiny button secondary"  %></li>
	  				<li><%= link_to "Correction", 
							      	new_argument_post_path(debate_id: argument_post.debate_id, 
							    	  	position: argument_post.position, 
							      		type: "CorrectionPost",
							      		parent_id: argument_post.id), class: "tiny button secondary" %></li>
	  				<li><%= link_to "Counterargument", 
							      	new_argument_post_path(debate_id: argument_post.debate_id, 
							    	  	position: argument_post.opposite_position,
							      		type: "CounterArgumentPost",
							      		parent_id: argument_post.id), class: "tiny button secondary" %></li>
	  				<% if signed_in? and current_user?(argument_post.user) %>
		  				<li><%= link_to 'Edit', 
		  									edit_argument_post_path(argument_post, 
		  										debate_id: argument_post.debate_id,
		  										position: argument_post.position,
		  										type: argument_post.type,
		  										parent_id: argument_post.parent_id), class: "tiny button secondary" %></li>  				
	  				<% end %>
	  				<% if argument_post.has_counters? %>
	  					<a href="#" data-dropdown=<%= "drop-#{argument_post.id}" %> class="tiny button secondary dropdown">see counterarguments</a><br>
							<ul id=<%= "drop-#{argument_post.id}" %> data-dropdown-content class="f-dropdown">
								<% argument_post.disagreeing_children.each_with_index do |child_post, index| %>
									<li id:=<%= "counter-link-#{child_post.id}" %> ><a href="#"><%= index+1 %></a></li>
								<% end %>
							</ul>
	  				<% end %>
		      </ul>
	      </small>
	    	<% if signed_in? and current_user?(get_parent_post_user(argument_post)) %>
	    		<small>Actions:
	    			<ul class="inline-list argument_post_action_links" >
	    				<% case argument_post.type %>
	    				<% when "ContributionPost" %>
	       		  	<li><%= link_to "accept contribution", 
	       		  									argument_post_path(argument_post.parent, 
	       		  									argument_post: {content: add_contribution(argument_post.parent, argument_post)} ), 
	       		  									method: :put  %>
							<% when "CorrectionPost" %>
								<li><%= link_to "accept correction", 
		       		  									argument_post_path(argument_post.parent, 
		       		  									argument_post: {content: add_correction(argument_post.parent, argument_post)} ), 
		       		  									method: :put  %>
	       		  <% end %>
       		  </ul>
          </small>
        <% end %>
