	    <div class="panel argument-post" id=<%= argument_post.id %> >
	   	  <div class="secondary label author" >
	        <%= argument_post.user.name %>
	      </div>
	      <div class="comment_body"  >
	      	<p><%= h(argument_post.content).gsub(/\n/, '<br/>').html_safe %></p>
	      </div>
	      <%= render 'argument_posts/argument_post_links', argument_post: argument_post %>
	      <% argument_post.agreeing_children.each do |child_post| %>
	      	<%= render 'argument_posts/argument_post', argument_post: child_post %>
	      <% end %>
	    </div>