<%= simple_form_for(@argument_post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if params[:type] == "CorrectionPost" %>
      <%= f.input :content, input_html: { value: ArgumentPost.find(params[:parent_id]).content } %>
    <% else %>
      <%= f.input :content %>
    <% end %>
    <%= f.hidden_field :debate_id, value: params[:debate_id] %>
    <%= f.hidden_field :position, value: params[:position] %>
    <%= f.hidden_field :type, value: params[:type] %>
    <%= f.hidden_field :parent_id, value: params[:parent_id] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Post" %>
  </div>
<% end %>