<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @argument_post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @argument_post.user_id %>
</p>

<p>
  <strong>Debate:</strong>
  <%= @argument_post.debate_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @argument_post.type %>
</p>

<%= link_to 'Edit', edit_argument_post_path(@argument_post) %> |
<%= link_to 'Back', argument_posts_path %>
